<!DOCTYPE html>
<html ng-app="canadipsum" style="background-image:url('{{ url_for('static', filename='img/bg/'+background.filename) }}')" data-bg="{{background.filename}}">
	<head>
		<title>Canadipsum</title>
		
		<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|Bevan' rel='stylesheet' type='text/css'>
		<link href="{{ url_for('static', filename='css/main.css') }}" media="all" rel="stylesheet" type="text/css" />
		<!--[if lt IE 9]>
		<script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

	</head>
	<body ng-controller="WordCtrl">
	<header class="clearfix">
		<section id="intro">
			<h1>Canadian Ipsum</h1>
			<p>When your project just needs to be a little more Canadian, <em>eh?</em></p>
		</section>
		<section id="about">
			<h1>Why?</h1>
			<p>It didn't exist, I wanted to learn some new technologies, and why the hell not?</p>
			<p>Created by <a href="http://wallofscribbles.com">Corey Dutson</a>.</p>
		</section>
	</header>
	<form id="requestForm" method="post">
		<input type="number" name="numb" min="1" max="100" id="numb" ng-model="amount" required value="1"/>

		<ul>
			<li><input type="radio" name="type" ng-model="returnType" value="p" id="rad-para" checked/><label for="rad-para">paragraphs</label></li>
			<li><input type="radio" name="type" ng-model="returnType" value="s" id="rad-sentence"/><label for="rad-sentence">sentences</label></li>
			<li><input type="radio" name="type" ng-model="returnType" value="w" id="rad-words"/><label for="rad-words">words</label></li>
		</ul>
		<input type="submit" value="Go" ng-click="requestParagraphs()"/>
	</form>
	<div id="result">
		{% if result %}
			{{ result|safe }}
		{% else %}
			<p ng-repeat="para in paragraphs">
				{[{renderSentences(para)}]}
			</p>
		{% endif %}
		
	</div>

	<footer>
		<p>Background image from <a href="{{background.url}}">Flickr</a>. Photo taken by {{background.author}}.</p>
	</footer>
	<script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
	<script src="{{ url_for('static', filename='js/general.js') }}"></script>
	</body>
</html>